*.py[cod]     # Will match .pyc, .pyo and .pyd files.
**/__pycache__/  # Exclude the whole folder
*~
*.log
*.mat
*.pck
*.log
*.msh
*.bz2
*.csv
*.txt
*.frf
*.json
*.gmsh
*.db
*.pdf
*.jpeg
*.jpg
*.gif
*.png
*.eps
*.synctex.gz
*.fdb_latexmk
*.swp
*.xdv
*.pos
*.mp4
*.mpg
